{% include 'links.html' %}

 <div class="row sticky bg-primary p-2">
     <div class="col-3 middle">
         <div class="row bg-white br-2">
            <div class="col-6">
                <div class="m-2 p-3 logo-text text-center bg-primary text-white br-5">UCM</div>
            </div>
            <div class="col-6">
                <div class="m-2 p-3 logo-text text-center text-primary">PUBLISHERS</div></div>
         </div>
     </div>
     <div class="col-3"></div>
     <div class="col-6">
         <div class="row row-reverse">
             <div>
                 <a href="student_registration" class="nav-item">Sign Up  &nbsp;
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                         <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                         <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                     </svg>
                 </a>
             </div>
             <div><a href="student_login" class="nav-item">Student</a></div>
             <div><a href="librarian_login" class="nav-item">Librarian</a></div>
             <div><a href="admin_login" class="nav-item">Admin</a></div>
             <div><a href="/" class="nav-item">Home</a></div>
         </div>
     </div>
 </div>












