{% include 'links.html' %}

 <div class="row sticky bg-primary p-2">
     <div class="col-3 p-5  middle">
         <div class="row bg-white br-2">
            <div class="col-6">
                <div class="m-2 p-3 logo-text text-center bg-primary text-white br-5">UCM</div>
            </div>
            <div class="col-6">
                <div class="m-2 p-3 logo-text text-center text-primary">PUBLISHERS</div></div>
         </div>
     </div>
     <div class="col-9">
         <div class="row row-reverse">
             <div><a href="logout" class="nav-item">Logout</a></div>
             <div><a href="borrowings?view_type=history" class="nav-item">History</a></div>
             <div><a href="borrowings?view_type=borrowings" class="nav-item">Borrowings</a></div>
             <div><a href="borrowings?view_type=requests" class="nav-item">Requests</a></div>
             <div><a href="view_books" class="nav-item">View books</a></div>
             <div><a href="add_books" class="nav-item">Add books</a></div>
             <div><a href="librarian_home" class="nav-item">Librarian home</a></div>
         </div>
     </div>
 </div>












