*{    
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --color-primary: #a6ad61;
    --color-primary-hover:rgb(207, 207, 40);
    --color-secondary:rgb(116, 116, 190);
    --color-secondary-hover:blue;
    --color-danger:rgb(177, 64, 64);
    --color-danger-hover:red;
    --color-success:rgb(111, 201, 111);
    --color-success-hover:green;
}
.bg-white{
  background-color:white;
  box-sizing: border-box;
}
.color-primary{
    background-color: var(--color-primary);
}
.color-primary-hover{
    background-color:var(--color-primary-hover);
}
.color-secondary{
    background-color:var(--color-secondary);
}
.color-secondary-hover{
    background-color: var(--color-secondary-hover) ;
}
.color-danger{
    background-color: var(--color-danger);
}
.color-danger-hover{
    background-color:var(--color-danger-hover) ;
}
.color-success{
    background-color: var(--color-success);
}
.color-success-hover{
    background-color: var(--color-success-hover);
}
.bg-primary {
    background-color: #000066;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row-reverse {
    flex-direction: row-reverse;
}
.col-1{
    width: calc(100%/12*1);
}
.col-2{
    width: calc(100%/12*2);
}
.col-3{
    width: calc(100%/12*3);
}
.col-4{
    width: calc(100%/12*4);
}
.col-5{
    width: calc(100%/12*5);
}
.col-6{
    width: calc(100%/12*6);
}
.col-9{
    width:calc(100%/12*9)
}
.col-11{
    width: calc(100%/12*11);
}
.card{
    box-shadow:0 0 5px;
    box-sizing: border-box;
    border: 1px solid rgb(201, 190, 190);
    border-radius:14px;
}

.card-header{
    border-bottom: 10px;
}
.card-footer{
    border-top: 10px;
}
.text{
    text-align: 10px;
}
.text-start{
    text-align:left;
}
.text-center{
    text-align:center;
}
.text-end{
    text-align:right;
}
.text-white {
    color: white;
}
.text-primary {
    color:#000066;
}

.form-group{
   position: relative;
}
.form-control{
    width:100%;
    border-radius: 5px;
}
.form-label{
    display: block;
    width:100%;
    margin-bottom:5px;
    border-radius: 14px;
    border-color:white;
}
.form-page{
    height: 90vh;
    background-image: 100px;
    width: 100%;
}
 
.head{
    text-align: center;
}
.nav{
    border-radius: 14px;
    position: sticky;
}
.nav-item{
    display: block;
    padding:15px 20px;
    color: white;
    text-decoration: none;
    font-weight:bolder;
}
.nav-item:hover{
   color:white;
   text-decoration:none;
}
.bg-main{
   width:100%;
   height:100px;
   margin-top:100px;
}
table{
    border: 1px solid rgb(114, 114, 33);
    border-collapse : collapse;
}
th, td, tr{
    border: 1px solid rgb(114, 114, 33);;
}
th, td{
    text-align: left;
    padding: 5px;
}
.middle {
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.logo {
  display:flex;
  align-items:center;
  height:60px;
  margin-left:10px;
}
.img{
    width: 100%;
    height:600px;
}
.sticky {
    position: sticky;
    top: 0;
    bottom:0;
}
.logo-text {
    font-weight:bolder;
    font-size:150%;
}

.bg-form{
    background-color:white;
}
.book-image{
    height:150px;
    max-width: 100%;    
    display: block;
}
.book-img-container{
    position: relative;
    }
.book-img-container-mask{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:150px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0) );
}
.book-btn{
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
}

.btn{
    border: none;
    display: block;
    width: 100%;
    padding:8px;
    border-radius: 10px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-success {
    background-color:var(--color-success-hover);
}

.btn-danger {
    background-color:var(--color-danger-hover);
}
.btn-secondary{
   background-color:#000066;
   color:white;
}
.m-10{
    margin:10px;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: column;
}
.card1{
    border: 1px solid rgb(201, 190, 190);
    border-radius:14px;
    padding:20px;

}
.ol {
    margin: 0;
    padding: 0;

}
.ol > li {
    margin: 0 0 10px 20px;
    padding: 0;

}
.btn-card {
    color: white;
    font-size: 80%;
    text-decoration: none;
    font-weight: bolder;
}