.fs{
    font-size:100%;
}
.fs-1{
    font-size:120%;
}
.fs-2{
    font-size: 140%;
}
.fs-3{
    font-size:160%;
}
.fs-4{
    font-size:180%;
}
.fs-5{
    font-size: 200%;
}
.p-1{
    padding:1px;
}
.p-3{
    padding: 3px;
}
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-25{
    padding: 25px;
}
.p-35{
    padding: 35px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding:40px;
}
.p-45{
    padding:45px;
}
.p-50{
    padding:50px;
}

.w-100{
 width:100%;
}


.ml-5{
    margin-left: 5px;
}
.ml-15{
    margin-left: 15px;
}
.ml-25{
    margin-left: 25px;
}
.ml-35{
    margin-left: 35px;
}

.ml-20{
    margin-left: 20px;
}
.m-2 {
    margin:2px;
}

.m-20 {
    margin:20px;
}

.mr-5{
    margin-right:10px ;
}
.mr-15{
    margin-right:15px ;
}
.mr-25{
    margin-right:25px ;
}
.mr-35{
    margin-right:35px ;
}
.mr-40{
    margin-right:40px ;
}
.mr-45{
    margin-right:45px ;
}

.mr-50{
    margin-right:50px ;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}

.mt-15{
    margin-top: 15px;
}
.mt-25{
    margin-top: 25px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}

.h1{
    font-size: 200%;
    font-weight: bolder;
}
.h2{
    font-size:180%;
    font-weight: bolder;
}
.h3{
    font-size: 160%;
    font-weight: bolder;
}
.h4{
    font-size: 140%;
    font-weight: bolder;
}
.h5{
    font-size: 120%;
    font-weight: bolder;
}
.h6{
    font-size: 100%;
    font-weight: bolder;
}
.br-2 {
    border-radius: 2px;
}
